<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Fraud Detection</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

<h2>AI Fraud Detection</h2>

<div>

<a href="/">Home</a>

<a href="/dashboard">Dashboard</a>

<a href="/analytics">Analytics</a>

</div>

</nav>

<section class="hero">

<div class="overlay"></div>

<div class="hero-content">

<h1>
AI Powered Credit Card Fraud Detection
</h1>

<p>
Real-time fraud analysis using Machine Learning
and intelligent banking security systems.
</p>

<a href="/dashboard">

<button class="primary-btn">
Launch Dashboard
</button>

</a>

</div>

</section>
<footer>

    Developed by Paridhi Turkar | AI Fraud Detection System

</footer>
</body>
</html>